.bottom {
    height: 100%;
    width: 100%;
    background-image: url("./images/Math_Background2.jpg");
    background-repeat: no-repeat;
    background-size: 150% 150%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);

}

.terminal{
    background-image: url("./images/backgroundTerminal.jpg");
}

.terminal2{
    height: 500px;
    width: 100%;
    background-image: url("./images/LargerTerminal.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.resume{
    color: white;
    font-size: 25px;
}

.contain{
  position: relative;
  top: 30%;
  padding-left:5%;
  /*background-color: blue;*/
}

.about-me{
    width: 100%;
    margin: auto;
}

.divider{
    width: 25%;
}

.test{
    max-width: 1850px;
}

.test2{
    position:absolute;
    padding-top: 250px;
}
.one {
    font-size: 25px;
    color: white;
}

.two {
    color: white;
}

a.resume:hover{
    background-color: green;
}

.blinking-cursor {
  font-weight: 100;
  font-size: 30px;
  color: #2E3D48;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

/*
.img{
    margin-top: 28%;
    height: 50px;
    width: 50px;
    background-image: url("./images/arrow.png");
    background-size: 100% 100%;
}
*/
