.bottom {
    height: 100%;
    width: 100%;
    background-image: url("./images/Math_Background2.jpg");
    background-repeat: no-repeat;
    background-size: 150% 150%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);

}

.about-me{
    width: 100%;
    margin: auto;
}

.divider{
    width: 25%;
}

.test{
    max-width: 1850px;
}

.test2{
    position:absolute;
    padding-top: 250px;
}
.one {
    font-size: 25px;
    color: white;
}

.two {
    color: white;
}


/*
.img{
    margin-top: 28%;
    height: 50px;
    width: 50px;
    background-image: url("./images/arrow.png");
    background-size: 100% 100%;
}
*/
.box{
  float:left;
  height: 100%;
  width: 70%;
  background-color: orange;
}

.box2{
  float:right;
  height: 100%;
  width: 50%;
  background-color: indigo;
}
